// Place all the styles related to the Tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.ui.segment.site-section {
    margin-top: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background-color: grey;
    color: white;
    font-size: large;
    border-radius: unset;
    clear: both;
}

.ui.container.main {
    margin-top: 1em;
    margin-bottom: 1em;
}

img.thumbnail {
    height: 170px !important;
}

.ui.button.basic.live {
    position: absolute;
    z-index: 20;
    margin-top: 0.25em;
    margin-left: 0.25em;
    opacity: 0.8;
    background-color: white;
}

.ui.cards.tours {
    margin-top: 0px;
    margin-bottom: 0px;
}

.send-video-container {
    display: none;
    visibility: hidden;
}

.about.tour {
    clear: both;
}

@media only screen and (min-width: 992px) {
.margin.registration.panel {
    position: sticky;
    top: 1em;
}
}

.registration.panel .ui.card {
    margin-top: 1em;
    margin-bottom: 1em;
}

.ui.popup.calendar.bottom.left {
    font-size: 11px;
}

.ui.form.tour.filter {
    position: sticky;
    top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    z-index: 30;
}

.field.timeofday {
    margin-bottom: 0px !important;
}

.field.timeofday > .ui.labeled.range.slider {
    font-size: 9px;
    margin-top: 2em;
}

.ui.left.right.icon.input > i.left.icon {
  right: inherit;
}
  
.ui.left.right.icon.input > input {
  padding-left: 2.67142857em !important;
  padding-right: 2.67142857em !important;
}

.remove.right.link.icon {
    visibility: hidden;
}

.tour.ui.card > .nogrow.content {
    flex-grow: 0;
}