.loading-main {
    display: none;
}

.join-dialog {
    display: none;
}

/*.notification-manager {
    display: none;
}*/

.gallery-video-container__main-view {
    margin: 0 0 0 0 !important;
}

.more-button {
    display: none;
}

.meeting-info-container {
    display: none;
}

.send-video-container {
    display: none;
}

#wc-footer.footer {
    background-image: none;
    background-color: black;
}

#tip-icon {
    width: 28px;
    height: 25px;
    color: rgb(220, 220, 220);
    font-size: 2em;
}

.chat-container__chat-control {
    display: none;
}

.chat-item__to {
    display: none;
}

.chat-item__chat-info-header--can-select {
    display: none;
}

.last-chat-message-tip__from-to {
    display: none;
}