<% content_for :sitetopstyle do %>
style="height: min(80vh, 800px)"
<% end %>
<% content_for :sitetop do %>
<div class="site-description-spacer"></div>
<div class="site-description-container" >
<div id="force_reload_timezone" class="ui active dimmer">
    <div class="ui text inverted active loader"><%= t('.detecting_timezone') %></div>
</div>
</div>
<% end %>
