<!-- This file lives in public/404.html -->
<div class="ui container messages">
<div class="ui message alert warning">
    <div class="header"><%= t('application.bad_request') %></div>
    <p><%= t('application.bad_request_desc') %></p>
</div>
</div>
