<div class="inline fields">
  <%= label_tag(:language, t('tours.language')) %>
  <% User::LANGUAGE_NAMES.each do |lang_code, lang_value| %>
  <div class="field">
    <div class="ui item checkbox">
    <%= check_box_tag 'language[]', lang_code, @language.nil? || @language.include?(lang_code), id: "language_#{lang_code}", class: 'submitOnChange' %>
    <%= label_tag(lang_value) %>
    </div>
  </div>
  <% end %>
</div>