<h2 class="ui segment site-section"><%= t('tours.find_destination') %></h2>
<div class="ui container">
  <h2 class="ui centered header"></h2>
  <div class="ui three item menu">
    <% [:date, :location, :topic].each do |filter_type| %>
    <%= link_to t("tours.by_#{filter_type}"), "?filter_type=#{filter_type}", class: "item #{'active' if @filter_type == filter_type}" %>
    <% end %>
  </div>
</div>
<div class="page_with left_margin">
  <div class="margin">
    <%= render "filter_#{@filter_type}" %>
  </div>
  <div class="content">
    <div class="large column">
      <%= render 'tours', items: @events %>
    </div>
  </div>
</div>
