<h2 class="ui segment site-section"><%= t(@title) %></h2>
<div class="ui container">
  <div class="content">
    <div class="large column">
      <%= render 'tours', items: @tours %>
    </div>
  </div>
</div>