<div class="ui container">
<h1 class="ui header">Editing guide: <%= [@guide.user.firstname, @guide.user.lastname].join(' ') %></h1>

<%= render 'form', guide: @guide %>

<%= link_to 'Show', guide_path(@guide) %>
</div>
